h1 {
  color: midnightblue;
  font-size: 50px;
  text-align: center;
}
body {
  background-color:rgb(167, 217, 235)
}
p {
  font-size: 30px;
}
video {
  width: 600px;
  border: 30px solid midnightblue;
  position: relative;
  left: 370px;
  }

