h1 {
    font-size: 50px;
    color: midnightblue;
}
p { 
     font-size: 30px;
}
body {
    background-color:rgb(167, 217, 235);
}
tr {
    background-color: rgb(167, 217, 235);
}
table {
    background-color: midnightblue;
}
th {
    color: midnightblue;
}
img {
    width: 800px;
    height: 350px;
    position: relative;
    left: 400px;
}
