h1 {
    font-size: 50px;
    color: midnightblue;
}
p {
    font-size: 30px;
}
h2 {
     font-size: 40px;
    color: midnightblue;
}
a { 
    font-size: 30px;
    border: solid black;
    color: rgb(254, 254, 254);
    font-family: Arial;
    background-color: midnightblue;
}
img { 
    width: 800px;
    height: 350spx;
    position: relative;
    left: 370px;
    border: 30px solid midnightblue;
}
body {
    background-color:rgb(167, 217, 235);
}

    
    
    
