h1 {
    font-size: 50px;
    color: midnightblue;
}
p {
    font-size: 30px;
}
h2 {
     font-size: 40px;
    color: #0000ff;
}
a { 
    font-size: 30px;
    border: solid black;
    color: rgb(254, 254, 254);
    font-family: Arial;
    background-color: midnightblue;
}
img { 
    position: relative;
    top: 30px;
    left: 60px;
    width: 1000px;
    height: 500px;
}
body {
    background-color:rgb(207, 235, 245);
}
    
    
    
