h1 {
    font-size: 50px;
    color: midnightblue;
}
p {
    font-size: 30px;
}
h2 {
     font-size: 40px;
    color: #0000ff;
}
a { 
    font-size: 30px;
    border: solid black;
    color: blue;
    font-family: Arial;
}
img { 
    position: relative;
    top: 100px;
    left: 800px;
}
    
    
    
